section.home-slider 

	include ./../sections/_navigation.pug

	h1.home-slider__name
		| go
		br
		| surf

	.home-slider__navigation 
		button.home-slider__navigation--prev
			svg(viewBox='0 0 25 21')
				path(d='M8.77789 0.562669L0.564298 8.71345C-0.188099 9.46459 -0.188099 10.6838 0.564298 11.4324L8.77789 19.5881C9.5366 20.3392 10.7646 20.3354 11.5233 19.5881C12.2744 18.8357 12.2744 17.6215 11.5233 16.8691L6.71818 12.1016H22.1324C23.2459 12.1016 24.1467 11.202 24.1467 10.0885C24.1467 8.97625 23.2459 8.07537 22.1324 8.07537H6.68919L11.5233 3.28282C12.2744 2.53168 12.2744 1.31623 11.5233 0.565085C10.7658 -0.187313 9.53783 -0.188569 8.77789 0.562568V0.562669Z')
		button.home-slider__navigation--next
			svg(viewBox='0 0 17 14')
				path(d='M10.2791 13.1005L15.7726 7.64901C16.2758 7.14663 16.2758 6.33118 15.7726 5.83048L10.2791 0.375784C9.77169 -0.126599 8.95036 -0.124079 8.44293 0.375784C7.94055 0.879007 7.94055 1.69109 8.44293 2.19432L11.6567 5.3829L1.3473 5.3829C0.602562 5.3829 2.47955e-05 5.9846 2.47955e-05 6.72934C2.47955e-05 7.47324 0.602562 8.07578 1.3473 8.07578L11.6761 8.07578L8.44293 11.2812C7.94055 11.7836 7.94055 12.5965 8.44293 13.0989C8.94954 13.6021 9.77087 13.6029 10.2791 13.1005V13.1005Z')

	.home-slider__map
		.home-slider__begin Current Location
		span.home-slider__dot.home-slider__dot--1
		span.home-slider__dot.home-slider__dot--2
		span.home-slider__dot.home-slider__dot--3
		span.home-slider__dot.home-slider__dot--4
		svg(viewBox='0 0 1001 496' fill='none')
			path(d='M1008.08 163.448L443.182 -356.858V-747.19L28.1096 -770C24.9043 -762.456 4.36709 -740.714 7.57176 -728.596C11.43 -714.102 30.8387 -718.735 36.4776 -709.409C43.0661 -698.42 31.7291 -653.749 28.3457 -640.86C21.8759 -616.445 7.09676 -596.665 2.82235 -572.25C-4.35982 -531.263 10.1824 -534.53 37.7242 -508.927C84.141 -465.742 46.9244 -420.952 58.6176 -370.223C68.1146 -328.878 109.605 -307.554 124.8 -266.211C136.553 -234.37 152.697 -226.233 177.746 -202.947C177.153 -217.084 164.51 -258.785 188.253 -255.102C211.817 -251.478 202.736 -216.669 207.247 -202.115C211.045 -189.997 237.933 -165.761 215.616 -154.593C208.196 -150.91 187.066 -165.582 178.577 -169.503C184.572 -150.791 180.774 -131.367 190.271 -113.487C201.608 -92.162 213.835 -100.359 228.853 -88.7754C244.344 -76.8355 242.683 -63.1137 235.797 -45.0554C228.615 -26.2247 221.196 -29.1352 232.592 -6.44342C240.843 9.95119 254.85 30.7421 266.9 43.2164C273.904 50.4634 281.502 52.1267 288.506 61.3932C294.323 69.1155 292.067 79.2142 299.012 86.1638C310.883 98.1037 331.006 98.282 340.384 113.904C350.831 131.309 338.96 144.437 369.706 142.833C371.309 177.643 377.897 209.185 377.541 243.994C394.695 250.825 422.414 242.687 440.399 239.063C458.266 263.18 481.355 246.429 501.774 259.558C510.678 265.26 508.837 279.517 514.239 284.506C525.339 294.723 533.529 288.308 547.301 291.872C557.51 294.486 565.404 301.97 575.138 304.703C584.338 307.257 599.475 301.258 606.301 309.396C614.492 319.138 600.78 336.958 613.127 344.799C623.395 351.333 638.115 335.77 648.088 338.027C659.721 340.7 693.079 371.174 701.271 381.212C710.59 392.677 719.969 414.062 725.25 428.793C733.501 451.841 732.373 463.127 749.408 479.998C760.27 490.75 749.942 491.522 767.63 494.67C779.204 496.749 794.518 488.374 806.212 487.067C830.549 484.394 855.122 489.027 879.102 484.453C901.421 480.176 922.729 473.166 945.64 469.899C965.465 467.048 1000.37 469.246 1017.94 459.801C1036.99 449.643 1038.71 426.654 1011.17 430.932C1008.97 416.26 1018.77 396.003 1007.85 385.847C1023.04 365.056 1028.56 350.384 1030.93 324.959C1032 313.792 1032.48 301.436 1038 292.05C1043.4 282.783 1058.59 277.259 1061.56 269.299C1066.13 256.943 1058.83 251.419 1053.25 244.528C1049.69 240.073 1039.54 242.212 1036.63 238.291C1031.23 231.103 1036.57 223.678 1033.6 216.431C1024.94 195.462 1014.61 187.205 1008.08 163.444C1008.26 167.424 1008.44 171.463 1008.2 175.384' stroke='rgba(255,255,255,0.2)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')

	.swiper
		.swiper-wrapper
			.swiper-slide.home-slider__item
				img.home-slider__img(src="img/Background-0.webp" alt="home" data-swiper-parallax="-23%")
				.home-slider__route
					.home-slider__end(data-swiper-parallax="-400" data-swiper-parallax-duration="600") North Shore | Malibu, CA
					svg(viewBox='0 0 205 236' fill='none')
						path.route-animation(d='M172.114 0.939392C163.546 24.3208 183.614 32.5255 199.675 47.8074C204.434 52.3357 204.888 59.817 199.879 64.3424C189.107 74.0738 148.264 59.9168 150.854 72.7451C153.53 85.9943 188.061 104.531 189.618 105.799C203.284 116.932 207.735 145.174 200.208 160.658C194.852 171.676 159.342 167.962 148.172 164.293C75.024 140.266 107.985 143.131 25.8167 135.67C19.5265 135.099 12.9349 134.806 6.89385 136.65C0.671419 138.549 0.869364 146.339 2.95714 150.55C9.87574 164.506 40.8489 188.178 32.5138 206.523C29.9563 212.152 23.963 215.707 21.2644 221.27C19.1505 225.627 19.3849 230.772 18.4452 235.523' stroke='white' stroke-width='2')
				.home-slider__heading.heading
					p.heading__name(data-swiper-parallax="-400" data-swiper-parallax-duration="600") surf 
					p.heading__title(data-swiper-parallax="-600" data-swiper-parallax-duration="600") north shore 
					p.heading__name(data-swiper-parallax="-800" data-swiper-parallax-duration="600") condition 
					p.heading__val(data-swiper-parallax="-1000" data-swiper-parallax-duration="600") radical

			.swiper-slide.home-slider__item
				img.home-slider__img(src="img/Background-1.webp" alt="home" data-swiper-parallax="-23%")
				.home-slider__route
					.home-slider__end(data-swiper-parallax="-400" data-swiper-parallax-duration="600") South Shore | Malibu, CA
					svg(viewBox='0 0 205 236' fill='none')
						path.route-animation(d='M172.114 0.939392C163.546 24.3208 183.614 32.5255 199.675 47.8074C204.434 52.3357 204.888 59.817 199.879 64.3424C189.107 74.0738 148.264 59.9168 150.854 72.7451C153.53 85.9943 188.061 104.531 189.618 105.799C203.284 116.932 207.735 145.174 200.208 160.658C194.852 171.676 159.342 167.962 148.172 164.293C75.024 140.266 107.985 143.131 25.8167 135.67C19.5265 135.099 12.9349 134.806 6.89385 136.65C0.671419 138.549 0.869364 146.339 2.95714 150.55C9.87574 164.506 40.8489 188.178 32.5138 206.523C29.9563 212.152 23.963 215.707 21.2644 221.27C19.1505 225.627 19.3849 230.772 18.4452 235.523' stroke='white' stroke-width='2')
				.home-slider__heading.heading
					p.heading__name(data-swiper-parallax="-400" data-swiper-parallax-duration="600") surf 
					p.heading__title(data-swiper-parallax="-600" data-swiper-parallax-duration="600") south shore 
					p.heading__name(data-swiper-parallax="-800" data-swiper-parallax-duration="600") condition 
					p.heading__val(data-swiper-parallax="-1000" data-swiper-parallax-duration="600") radical

			.swiper-slide.home-slider__item
				img.home-slider__img(src="img/Background-2.webp" alt="home" data-swiper-parallax="-23%")
				.home-slider__route
					.home-slider__end(data-swiper-parallax="-400" data-swiper-parallax-duration="600") West Shore | Malibu, CA
					svg(viewBox='0 0 205 236' fill='none')
						path.route-animation(d='M172.114 0.939392C163.546 24.3208 183.614 32.5255 199.675 47.8074C204.434 52.3357 204.888 59.817 199.879 64.3424C189.107 74.0738 148.264 59.9168 150.854 72.7451C153.53 85.9943 188.061 104.531 189.618 105.799C203.284 116.932 207.735 145.174 200.208 160.658C194.852 171.676 159.342 167.962 148.172 164.293C75.024 140.266 107.985 143.131 25.8167 135.67C19.5265 135.099 12.9349 134.806 6.89385 136.65C0.671419 138.549 0.869364 146.339 2.95714 150.55C9.87574 164.506 40.8489 188.178 32.5138 206.523C29.9563 212.152 23.963 215.707 21.2644 221.27C19.1505 225.627 19.3849 230.772 18.4452 235.523' stroke='white' stroke-width='2')
				.home-slider__heading.heading
					p.heading__name(data-swiper-parallax="-400" data-swiper-parallax-duration="600") surf 
					p.heading__title(data-swiper-parallax="-600" data-swiper-parallax-duration="600") west shore 
					p.heading__name(data-swiper-parallax="-800" data-swiper-parallax-duration="600") condition 
					p.heading__val(data-swiper-parallax="-1000" data-swiper-parallax-duration="600") radical

			.swiper-slide.home-slider__item
				img.home-slider__img(src="img/Background-3.webp" alt="home" data-swiper-parallax="-23%")
				.home-slider__route
					.home-slider__end(data-swiper-parallax="-400" data-swiper-parallax-duration="600") East Shore | Malibu, CA
					svg(viewBox='0 0 205 236' fill='none')
						path.route-animation(d='M172.114 0.939392C163.546 24.3208 183.614 32.5255 199.675 47.8074C204.434 52.3357 204.888 59.817 199.879 64.3424C189.107 74.0738 148.264 59.9168 150.854 72.7451C153.53 85.9943 188.061 104.531 189.618 105.799C203.284 116.932 207.735 145.174 200.208 160.658C194.852 171.676 159.342 167.962 148.172 164.293C75.024 140.266 107.985 143.131 25.8167 135.67C19.5265 135.099 12.9349 134.806 6.89385 136.65C0.671419 138.549 0.869364 146.339 2.95714 150.55C9.87574 164.506 40.8489 188.178 32.5138 206.523C29.9563 212.152 23.963 215.707 21.2644 221.27C19.1505 225.627 19.3849 230.772 18.4452 235.523' stroke='white' stroke-width='2')
				.home-slider__heading.heading
					p.heading__name(data-swiper-parallax="-400" data-swiper-parallax-duration="600") surf 
					p.heading__title(data-swiper-parallax="-600" data-swiper-parallax-duration="600") east shore 
					p.heading__name(data-swiper-parallax="-800" data-swiper-parallax-duration="600") condition 
					p.heading__val(data-swiper-parallax="-1000" data-swiper-parallax-duration="600") radical

	.home-slider__pagination

	.home-slider__down
		img(src="img/Down.svg", alt="down-arrow")