include ./../mixins/_dataItem.pug

section.travel 

	h2.travel__title.title travel
	p.travel__backtitle.backtitle travel

	.swiper.location-swiper
		.swiper-wrapper 
			.location.swiper-slide
				p.location__title shore
				b.location__value Airlie Beach
					span.location__divider |
					| Australia
			.location.swiper-slide
				p.location__title shore
				b.location__value Malibu Beach
					span.location__divider |
					| Usa

		.travel__nav.slider-nav
			button.slider-nav--prev
				svg(viewBox='0 0 25 21')
					path(d='M8.77789 0.562669L0.564298 8.71345C-0.188099 9.46459 -0.188099 10.6838 0.564298 11.4324L8.77789 19.5881C9.5366 20.3392 10.7646 20.3354 11.5233 19.5881C12.2744 18.8357 12.2744 17.6215 11.5233 16.8691L6.71818 12.1016H22.1324C23.2459 12.1016 24.1467 11.202 24.1467 10.0885C24.1467 8.97625 23.2459 8.07537 22.1324 8.07537H6.68919L11.5233 3.28282C12.2744 2.53168 12.2744 1.31623 11.5233 0.565085C10.7658 -0.187313 9.53783 -0.188569 8.77789 0.562568V0.562669Z')
			button.slider-nav--next
				svg(viewBox='0 0 17 14')
					path(d='M10.2791 13.1005L15.7726 7.64901C16.2758 7.14663 16.2758 6.33118 15.7726 5.83048L10.2791 0.375784C9.77169 -0.126599 8.95036 -0.124079 8.44293 0.375784C7.94055 0.879007 7.94055 1.69109 8.44293 2.19432L11.6567 5.3829L1.3473 5.3829C0.602562 5.3829 2.47955e-05 5.9846 2.47955e-05 6.72934C2.47955e-05 7.47324 0.602562 8.07578 1.3473 8.07578L11.6761 8.07578L8.44293 11.2812C7.94055 11.7836 7.94055 12.5965 8.44293 13.0989C8.94954 13.6021 9.77087 13.6029 10.2791 13.1005V13.1005Z')

	.swiper.content-swiper
		.swiper-wrapper 
			.swiper-slide.travel-slide 
				img.travel-slide__img(src="img/Virgin-img.webp", alt="travel-img")
				img.travel-slide__fly(src="img/Airbus.webp", alt="airbus")
				.travel-slide__data.data
					.data__heading.data-heading(data-swiper-parallax="400" data-swiper-parallax-duration="600")
						p.data-heading__title airline 
						b.data-heading__value Virgin Australia
							img.data-heading__icon(src="img/virgin-text.svg", alt="virgin-text")
					.data__items(data-swiper-parallax="-400" data-swiper-parallax-duration="600") 
						+dataItem('destination', 'queensland australia')
						+dataItem('distance', '7,065 miles')
						+dataItem('travel time', '23 hours 5minutes')
						+dataItem('pricing', '$1,976 usd')
				img.travel-slide__decor(src="img/cocktail.webp", alt="cosktail")

			.swiper-slide.travel-slide 
				img.travel-slide__img(src="img/Sleep-image.webp", alt="travel-img")
				.travel-slide__data.data
					.data__heading.data-heading(data-swiper-parallax="400" data-swiper-parallax-duration="600")
						p.data-heading__title airline 
						b.data-heading__value Virgin Australia
							img.data-heading__icon(src="img/virgin-text.svg", alt="virgin-text")
					.data__items(data-swiper-parallax="-400" data-swiper-parallax-duration="600")
						+dataItem('destination', 'california usa')
						+dataItem('distance', '10,065 miles')
						+dataItem('travel time', '34 hours 15minutes')
						+dataItem('pricing', '$2,376 usd')

| asdfasdfasdf