
-
	var locations = [
		{town: 'Airlie Beach', country: 'Australia'},
		{town: 'Malibu Beach', country: 'Usa'}
	]

	var travelSlides = [
		{
			slideImg: 'Virgin-img.webp', 
			airline: 'Virgin Australia', 
			airlineIcon: 'virgin-text.svg',
			datas: [
				{
					dataTitle: 'destination', 
					dataValue: 'queensland australia'
				},
				{
					dataTitle: 'distance', 
					dataValue: '7,065 miles'
				},
				{
					dataTitle: 'travel time', 
					dataValue: '23 hours <br> 5 minutes'
				},
				{
					dataTitle: 'pricing', 
					dataValue: '$1,976 usd'
				}
			]
		},
		{
			slideImg: 'Sleep-Image.webp', 
			airline: 'Virgin Australia', 
			airlineIcon: 'virgin-text.svg',
			datas: [
				{
					dataTitle: 'destination', 
					dataValue: 'queensland australia'
				},
				{
					dataTitle: 'distance', 
					dataValue: '7,065 miles'
				},
				{
					dataTitle: 'travel time', 
					dataValue: '23 hours 5 <br> minutes'
				},
				{
					dataTitle: 'pricing', 
					dataValue: '$1,976 usd'
				}
			]
		}
	]

section.travel 

	h2.travel__title.title travel
	p.travel__backtitle.backtitle travel

	+location('shore', locations) 

	+sliderNav('travel__nav')

	.swiper
		.swiper-wrapper
			each item in travelSlides
				.swiper-slide.travel-slide
					img.travel-slide__img(src="img/" + item.slideImg, alt="travel-img")
					.travel-slide__data.data
						.data__heading.data-heading(data-swiper-parallax="400" data-swiper-parallax-duration="600")
							p.data-heading__title airline
							b.data-heading__value= item.airline
								img.data-heading__icon.data-heading__icon--virgin(src="img/" + item.airlineIcon, alt="virgin-text")
						.data__items(data-swiper-parallax="-400" data-swiper-parallax-duration="600")
							each elem in item.datas
								.data__item 
									p.data__title= elem.dataTitle
									b.data__value !{elem.dataValue}

	img.travel-slide__decor.travel-slide__decor--0(src="img/airbus.webp", alt="airbus")
	img.travel-slide__decor.travel-slide__decor--1(src="img/cocktail.webp", alt="cocktail")

	.center-box
		+surfView('book', 'flight', 'travel__viewlink')

