mixin surfView(word1, word2, className)
	a(class=`surf-viewlink ${className}` href="") 
		b.surf-viewlink__word= word1 
		b.surf-viewlink__word= word2 
		img.surf-viewlink__arrow(src="img/arrow-right.svg", alt="arrow-icon")