<!DOCTYPE html>
html(lang="ru")
	head
		include ./../sections/_head.pug
		title Site
	body

		// ======================================== PRELOADER
		include ./../layouts/_preloader.pug
		// ======================================== SECTION
		include ./../sections/_home.pug
		// ======================================== SECTION
		include ./../sections/_surf.pug
		// ======================================== SECTION
		include ./../sections/_travel.pug
		// ======================================== SECTION
		include ./../sections/_sleep.pug
		// ======================================== SECTION
		include ./../sections/_shop.pug
		// ======================================== FOOTER
		//- include ./../sections/_footer.pug
		// ======================================== SCRIPTS
		include ./../sections/_scripts.pug


